<ion-view title="Mee2" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true" style="position:relative;">
  	<input id="pac-input" class="controls" type="text" placeholder="Enter a location" style="position:absolute;top:10px;left:8em;z-index:10"></input>
    <div id="map" data-tap-disabled="true"></div>
    <div id="overlay" style="border-radius:5px">
		<div style="text-align:center;margin-top:2em">
			<img src="img/logo.png" style="border-radius:50%">
		</div>
		<h3 id="name" style="text-align:center"></h3>
		<div style="text-align:center;margin-top:5em"> 
			<label name="plans">What are your plans?</label>
			<input class="controls" ng-model="plans"></input>
		</div>
		<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" style="top:5em;left:7em"></div>
    </div>
  </ion-content>
</ion-view>