<ion-view title="Mee2" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true" style="position:relative">
    <div id="map" data-tap-disabled="true"></div>
    <div id="overlay" style="border-radius:5px">
    	<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
		<div id="status"> -->
		<div style="text-align:center;margin-top:2em">
			<img src="img/logo.png" style="border-radius:50%">
		</div>
		<h3 id="name" style="text-align:center"></h3>
		<div style="text-align:center;margin-top:6em"> 
			<label name="destination">Where do you want to go?</label>
			<input id="destination"></input>
		</div>
		<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" style="top:5em;left:7em"></div>
    </div>

    <div id="user1Modal" style="border-radius:10px;width:200px;height:150px;background-color:white;z-index:3;position:absolute;right:29em;top:26em;display:none">
    	<div style="text-align:center">
    		<b>Paola Perez</b><br />
    		<i>Investment Banking</i><br/>
    		<p>Interests: Water skiing, books<br>
    		<p>Will be at my favorite chocolate shop  @8pm</p>
    		<div class="message"><a href="javascript:void(0)">message</a></div>
    	</div>
    </div>
	<div id="user2Modal" style="border-radius:10px;width:200px;height:150px;background-color:white;z-index:3;position:absolute;right:46em;top:37em;display:none">
		<div style="text-align:center">
			<b>Amanda Vegas</b><br />
			<i>Nurse</i><br/>
    		<p>Interests: Hiking, working out<br>
    		<p>Hey, going for a jog @2pm</p>
			<div class="message"><a href="javascript:void(0)">message</a></div>
		</div>
	</div>
	<div id="user3Modal" style="border-radius:10px;width:200px;height:150px;background-color:white;z-index:3;position:absolute;right:62em;top:33em;display:none">
		<div style="text-align:center">
			<b>Jessica Nubi</b><br />
			<i>Startup Founder</i><br>
			<p>Interests: Volunteering, Money</p><br>
			<p>Hi, Available to meet @5pm</p>
			<div class="message"><a href="javascript:void(0)">message</a></div>
		</div>
	</div>
  </ion-content>
</ion-view>